<!-- <div class='row'>
    <div class='col-xs-12'>
        <app-face-matcher></app-face-matcher>
    </div>
    <div class='col-xs-12'>
        <app-image-face-matcher></app-image-face-matcher>
    </div>
</div> -->
<!-- <app-face-matcher></app-face-matcher> -->
<!-- <app-image-face-matcher></app-image-face-matcher> -->
<div class="container">
    <div class='row'>
        <div class='col-xs-12'>
            <h1>FaceApp</h1>
            <app-webcam-image-matcher></app-webcam-image-matcher>
        </div>
    </div>
</div>
<!-- <app-image-face-matcher></app-image-face-matcher> -->