<div class="d-flex justify-content-center" *ngIf="loading">
    <div role="status">
        <span class="sr-only" id="loading"></span>
    </div>
</div>
<div *ngIf="!loading">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="uploaded-image-styles" id="uploadedImage" *ngIf="uploadSuccess"></div>
            <label class="form-label" for="customFile">Please upload a passport size photo:</label>
            <input class="form-control" type="file" id="imageUpload" (change)="fileChangeEvent($event.target.files)">
            <div class="mt-3" *ngIf="processingResult">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only" aria-label="true">Getting face match results ...</span>
                </div>
                <span class="spinner-text">Getting face match results ...</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)">
            </webcam>

            <!-- Button Takes Photo -->
            <button class="btn btn-primary btn-block mt-3" (click)="triggerSnapshot();">Take A Snapshot</button>

            <!-- Snapshot Div where image will be shown -->
            <div class="snapshot" *ngIf="webcamImage">
                <h2>Take your image or get another</h2>
                <img [src]="webcamImage.imageAsDataUrl" />
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!processingResult && processingCompleted">
        <div class="col-xs-12">
            <h1>Comparison Results</h1>
            <h2>The images {{matchFound ? 'match' : 'dont match'}}</h2>
        </div>
        <div class="col-xs-12">
            <h1>Face Match Score</h1>
            <h2>{{faceMatchScore}}</h2>
        </div>
    </div>
</div>